<%- model_class = Transaction -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:transaction_id) %>:</strong></dt>
  <dd><%= @transaction.transaction_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:category) %>:</strong></dt>
  <dd><%= @transaction.category %></dd>
  <dt><strong><%= model_class.human_attribute_name(:currency) %>:</strong></dt>
  <dd><%= @transaction.currency %></dd>
  <dt><strong><%= model_class.human_attribute_name(:amount) %>:</strong></dt>
  <dd><%= @transaction.amount %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @transaction.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:made_on) %>:</strong></dt>
  <dd><%= @transaction.made_on %></dd>
  <dt><strong><%= model_class.human_attribute_name(:mode) %>:</strong></dt>
  <dd><%= @transaction.mode %></dd>
  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <dd><%= @transaction.status %></dd>
  <dt><strong><%= model_class.human_attribute_name(:account_id) %>:</strong></dt>
  <dd><%= @transaction.account_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              :back, :class => 'btn btn-default'  %>

